Source: cubar
Section: unknown
Priority: extra
Maintainer: Nick Black <nick.black@sprezzatech.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://dank.qemfd.net/dankwiki/index.php/CUBAR
Vcs-Git: https://github.com/dankamongmen/cubar
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cubar.git;a=summary

Package: cubar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CUBAR
 The CUBAR suite of CUDA reverse-engineering tools.
